@import 'vendor/normalize';
@import 'vendor/animate';
@import 'general/palette';

/* elite pro icons */

@import '../fonts/elite-pro/arrows/webfont/css/picto-foundry-arrows.css';
@import '../fonts/elite-pro/general/webfont/css/picto-foundry-general.css';
@import '../fonts/elite-pro/shopping-finance/webfont/css/picto-foundry-shopping-finance.css';

/* bariol font */

@import '../fonts/bariol/bariol';


/* mixins */


@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

.ios {
  cursor: pointer;
}

.ios:hover {
  cursor: pointer;
}

@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		// Fixes Opera/contenteditable bug:
		// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

/* general */

body {
	font-family: bariol;
	font-size: 18px;
	line-height: 1.3em;
	color: $darkbrown;
	background: $creme;
}

h1, h2, h3 {
	color: $brown;
	line-height: 1em;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: $darkcreme;
}

.view {
	position: relative;
	max-width: 736px;
	min-height: 736px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 20px auto;
	background-color: $lightcreme;
	border: 1px solid $darkcreme;
	border-radius: 6px;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	header {
		background: #fff;
		border-bottom: 1px solid $creme;
		max-height: 48px;

		.logo {
			font-size: 24px;
			color: $brandcolor;
			text-align: center;
			text-transform: uppercase;
			padding: 12px 25px;
			margin: 0;
		}

		.logoIcon {
			position: absolute;
			top: 0;
			left: 0;
			color: $brandcolor;
			font-size: 24px;
			text-align: center;
			padding: 12px 0;
			width: 48px;
			min-height: 48px;
			border-right: 1px solid $creme;
			box-sizing: border-box;
		}

		.listTitle {
			font-size: 16px;
			color: $nightblue;
			text-align: center;
			text-transform: uppercase;
			padding: 16px 25px;
			margin: 0 51px 1px 51px;
		}

		.button-menu {
			position: absolute;
			top: 0;
			right: 0;
			color: $nightblue;
			text-decoration: none;
			font-size: 24px;
			text-align: center;
			padding: 12px 0;
			width: 48px;
			border-left: 1px solid $creme;
			box-sizing: border-box;

			&:hover, &.active {
				color: #fff;
				transition: background-color 0.5s ease,  border-color 0.5s ease;
				background: $nightblue;
				border-left: 1px solid $nightblue;
				height: 49px;
				margin-bottom: -1px;
			}
		}

	}

	.introduction {
		text-align: center;
		padding: 25px;
	}

	/* front page styles */
	.buttons-login {
		text-align: center;
		padding: 25px;

		.button-googleLogin {
			display: inline-block;
			width: 120px;
			text-decoration: none;
			font-weight: bold;
			color: #fff;
			-webkit-font-smoothing: antialiased;
			background-color: #bb4842;
			padding: 10px;
			margin-right: 20px;
			border-radius: 4px;

			&:hover {
				background-color: #a6342e;
			}
		}

		.button-facebookLogin {
			display: inline-block;
			width: 120px;
			text-decoration: none;
			font-weight: bold;
			color: #fff;
			-webkit-font-smoothing: antialiased;
			background-color: #3f75a3;
			padding: 10px;
			border-radius: 4px;

			&:hover {
				background-color: #285b87;
			}
		}
	}

	/* invite view */

	.invite {
		padding: 25px;

		&--emails {
			position: relative;

			input {
				display: block;
				width: 100%;
				background: transparent;
				border: none;
				border-bottom: 1px solid $creme;
				padding: 5px 20px 5px 0;
				box-sizing: border-box;
				margin-bottom: 20px;
				border-radius: 0;

				@include placeholder {
					color: $creme;
				}
			}

			.icon-circle-delete {
				font-size: 24px;
				color: $darkcreme;
				position: absolute;
				top: 5px;
				right: 0;
			}
		}

		&--button-addFriend {
			display: block;
			text-decoration: none;
			text-align: center;
			font-weight: bold;
			color: $mint;
			-webkit-font-smoothing: antialiased;
			border: 2px solid $mint;
			padding: 10px;
			margin-bottom: 50px;
			border-radius: 4px;

			&:hover {
				color: $darkmint;
				border-color: $darkmint;
			}
		}

		&--button-inviteFriends {
			display: block;
			text-decoration: none;
			text-align: center;
			font-weight: bold;
			color: #fff;
			-webkit-font-smoothing: antialiased;
			background: $mint;
			padding: 10px;
			border-radius: 4px;

			&:hover {
				transition: background-color 0.5s ease;
				background: $darkmint;
			}
		}
	}

	/* list view */

	.list-item {
		position: relative;
		border-bottom: 1px solid $creme;
		line-height: 1;

		&--checkbox {
			position: absolute;
			top: 0;
			left: 0;
			color: $darkcreme;
			font-size: 24px;
			text-align: center;
			padding: 13px 0 9px;
			width: 48px;

			&.unchecked {
				&:before {
					content: '';
					position: absolute;
					left: 12px;
					display: block;
					width: 20px;
					height: 20px;
					border: 1px solid $darkcreme;
					border-radius: 2px;
				}
			}
		}

		&--description {
			display: block;
			padding: 12px 25px 13px 25px;
			margin: 0 51px 0 51px;
      		min-height: 23px;

      		input[type=text] {
      			width: 100%;
      			display: block;
      			background: transparent;
      			border: none;
      			margin: 0;
      			padding: 0;

      			@include placeholder {
      				color: $creme;
      			}
      		}
		}

		&--actions {
			position: absolute;
			top: 0;
			right: 0;
			color: $mint;
			font-size: 24px;
			width: 48px;

			&.open {
				width: 192px;

				.action {
					color: #fff;
					background: $mint;
				}
			}

			.action {
				display: inline-block;
				vertical-align: top;
				text-align: center;
				padding: 12px 0;
				width: 48px;


				&:hover, .active {
					transition: background-color 0.5s ease;
					background: $darkmint;
          color:#fff;
				}

				&.itemOwner {
					width: 44px;
					height: 44px;
					overflow: hidden;
					border-radius: 50%;
					vertical-align: top;
					padding: 0;
					margin: 2px;
					box-sizing: border-box;
					border: 2px solid transparent;

					img {
						display: block;
						width: 44px;
					}

					&:hover {
						transition: border-color 0.5s ease;
						background: none;
						border: 2px solid $mint;
					}
				}
			}
		}
	}

	.list-actions {
		padding: 25px;

		&--button-addItem {
			display: block;
			text-decoration: none;
			text-align: center;
			font-weight: bold;
			color: $mint;
			border: 2px solid $mint;
			padding: 10px;
			border-radius: 4px;

			&:hover {
				color: $darkmint;
				border-color: $darkmint;
			}
		}
	}

	.list-payment {
		padding:  0 25px;

		input {
			display: block;
			width: 100%;
			background: transparent;
			border: none;
			border-bottom: 1px solid $creme;
			padding: 5px 20px 5px 0;
			box-sizing: border-box;
			margin-bottom: 20px;

			@include placeholder {
				color: $darkcreme;
			}
		}

		&--calculation {
			width: 100%;
			border: 3px solid $creme;
			margin-top: 30px;

			td {
				border-bottom: 1px solid $creme;
				padding: 12px;
			}

			.share {

				&--sum {
					text-align: right;
				}
			}

			.payment-sum {
				font-weight: bold;

				td {
					background: $creme;
				}

				&--value {
					text-align: right;
				}
			}
		}
	}

	.list-participants {
		padding: 25px;

		@include clearfix {}

		.participant {
			float: left;
			width: 54px;
			height: 54px;
			overflow: hidden;
			border-radius: 50%;
			padding: 0;
			margin: 0 4px 4px 0;
			box-sizing: border-box;
			border: 2px solid transparent;

			img {
				display: block;
				width: 54px;
			}

			&:hover {
				transition: border-color 0.5s ease;
				background: none;
				border: 2px solid $mint;
			}

			&.add {
				font-size: 30px;
				color: #fff;
				background: $mint;
				padding: 10px;

				&:hover {
					border: 2px solid transparent;
					transition: background 0.5s ease;
					background: $darkmint;
				}
			}
		}
	}

	.menu {
		position: absolute;
		display: none;
		top: 49px;
		right: 0;
		bottom: 0;
		z-index: 99;
		-webkit-font-smoothing: antialiased;
		width: 150px;
		color: #fff;
		background: $nightblue;
		padding: 25px;
		border-bottom-right-radius: 4px;

		h3 {
			color: $lightnightblue;
		}

		a {
			color: #fff;
			text-decoration: none;
		}

		ul  {
			padding: 0;
			margin: 0 0 50px 0;

			li {
				list-style: none;
				border-bottom: 1px solid $lightnightblue;
				padding: 0;
				margin: 0;

				a {
					position: relative;
					display: block;
					padding: 12px 48px 12px 0;

					span {
						position: absolute;
						top: 12px;
						right: 0;
						color: $lightnightblue;
						display: block;
					}
				}
			}
		}
	}

	&.view-menu {
		-webkit-font-smoothing: antialiased;
		color: #fff;
		background: $nightblue;
	}

	/* expenses view */

	.timeSpan {
		&--calculationList {
			padding: 0;
			margin: 0;

			li {
				list-style: none;
				padding: 0;
				margin: 0;

				&.back {
					position: relative;
					padding: 12px 25px 12px 68px;
					border-bottom: 1px solid $lightnightblue;

					.back-button {
						position: absolute;
						top: 0;
						left: 0;
						width: 48px;
						text-align: center;
						padding: 12px 0;

						&:hover {
							transition: background-color 0.5s ease;
							background: $lightnightblue;
						}
					}
				}

				> section {
					border-bottom: 1px solid $lightnightblue;

					> h3:first-child {
						position: relative;
						color: #fff;
						background: #4a3467;
						padding: 16px 25px;
						margin: 0;

						.title-items {
							position: absolute;
							top: 0;
							right: 0;
							vertical-align: text-bottom;

							.sum {
								float: left;
								color: #f34f4f;
								padding: 16px;
							}

							.toggle {
								float: left;
								width: 48px;
								padding: 20px 16px 11px 16px;
								box-sizing: border-box;

								&:hover {
									transition: background-color 0.5s ease;
									background: $lightnightblue;
								}
							}
						}
					}

					.table-container {
						margin: 25px;

						table {
							width: 100%;
							border: 3px solid $lightnightblue;

							th, td {
								background: #422d5c;
								border-bottom: 1px solid $lightnightblue;
								padding: 12px;
							}

							.title {

								font-weight: bold;

								th {
									-webkit-font-smoothing: subpixel-antialiased;
									color: $lightnightblue;
									background: #fff;

									&.sum {
										text-align: center;
										background: #e2cdff;
									}
								}
							}

							.subtitle {
								font-weight: bold;
								background: #4f3571;
							}

							.sum {
								color: #f34f4f;
								font-weight: bold;
								text-align: right;
								background: #4a3467;
								width: 80px;
							}
						}
					}

					.listOverview {
						margin: 50px 25px 50px 25px;

						h3 {
							color: $lightnightblue;
						}

						ul {
							padding: 0;
							margin: 0;

							li {
								padding: 12px 0;
								border-bottom: 1px solid $lightnightblue;

								@include clearfix {};

								.sum {
									float: right;
									color: #f34f4f;
									font-weight: bold;
								}
							}
						}
					}
				}
			}
		}
	}

	/* list overview */

	.overview {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			border-bottom: 1px solid $lightnightblue;
			padding: 12px 25px;

			&.back {
				position: relative;
				padding: 12px 25px 12px 68px;
				border-bottom: 1px solid $lightnightblue;

				.back-button {
					position: absolute;
					top: 0;
					left: 0;
					width: 48px;
					text-align: center;
					padding: 12px 0;

					&:hover {
						transition: background-color 0.5s ease;
						background: $lightnightblue;
					}
				}
			}				
		}
	}

	/* users */

	.back {
		position: relative;
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 12px 25px 12px 68px;
		border-bottom: 1px solid $lightnightblue;

		.back-button {
			position: absolute;
			top: 0;
			left: 0;
			width: 48px;
			text-align: center;
			padding: 12px 0;

			&:hover {
				transition: background-color 0.5s ease;
				background: $lightnightblue;
			}
		}
	}

	.users {
		@include clearfix {};
		text-align: center;

		.user {
			width: 100px;
			display: inline-block;;
			text-align: center;
			margin: 20px 0;


			&--avatar {
				display: inline-block;
				width: 64px;
				height: 64px;
				overflow: hidden;
				border-radius: 50%;
				padding: 0;
				box-sizing: border-box;
				border: 2px solid transparent;

				img {
					width: 100%;
				}

				&:hover {
					transition: border-color 0.5s ease;
					background: none;
					border: 2px solid $lightnightblue;
				}

				&.add {
					font-size: 40px;
					color: #fff;
					background: $lightnightblue;
					padding: 10px;
				}
			}

			&--name {
				font-size: 16px;
				text-align: center;
			}
		}
	}

	/* modal window */

	.modal {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 9999;

		&--box {
			position: fixed;
			top: 50%;
			left: 50%;
			width: 280px;
			color: #777;
			text-align: center;
			transform: translate(-50%, -50%);
			background: #fff;
			padding: 25px;
			box-sizing: border-box;
			
			p {
				font-size: 24px;

				&:first-child {
					margin-top: 0;
				}
			}

			.button {
				display: inline-block;
				width: 80px;
				text-align: center;				
				font-weight: bold;
				text-decoration: none;
				color: $mint;
				-webkit-font-smoothing: antialiased;
				border: 2px solid $mint;
				padding: 10px;
				margin-right: 10px;
				border-radius: 4px;

				&:hover {
					color: $darkmint;
					border-color: $darkmint;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			.button.important {
				color: #fff;
				-webkit-font-smoothing: antialiased;
				background: $mint;

				&:hover {
					border-color: transparent;
					transition: background-color 0.5s ease;
					background: $darkmint;
				}
			}
		}
	}
}


@media only screen
	and (max-width: 736px)
	and (-webkit-min-device-pixel-ratio: 2) {
	.view {
		border: none;
		border-radius: 0;
		box-shadow: none;
		margin: 0;

		.menu {
			border-bottom-right-radius: 0;
		}
	}
}
