/* Coolors Exported Palette - coolors.co/fff4dd-aee5cb-8f7f6d-ffe787-1e152a */

$brandcolor: #7e53b7;
$lightbrandcolor: #ad88df;
$lightcreme: #fff4dd;
$creme: #efe1c3;
$darkcreme: #c8ba9d;
$mint: #73daa9;
$darkmint: #49b481;
$brown: #8f7f6d;
$darkbrown: #64584a;
$yellow: #ffe787;
$lightnightblue: #6f5099;
$nightblue: #3b2853;